<h1>Your Reservations</h1>
<main>
  <p>
    <ul>
      <% @reservations.each do |reserve| %>
        <li>
          <p>
            Working...
          </p>

        </li>
      <% end %>
    </ul>
  </p>
</main>
